name: Telegram Notify

on:
  workflow_run:
    workflows:
      - "CI Pipeline"
    types:
      - completed

permissions:
  actions: read
  contents: read

jobs:
  notify:
    runs-on: ubuntu-latest

    steps:
      - name: Send message
        run: |
          curl -X POST https://api.telegram.org/bot${{ secrets.TG_TOKEN }}/sendMessage \
          -d chat_id=${{ secrets.TG_CHAT_ID }} \
          -d text="'${{ github.event.workflow_run.name }}' status: ${{ github.event.workflow_run.conclusion }}"
