name: CI Pipeline

on:
  pull_request:
  push:
    branches:
      - main
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11

      - name: Run Checkstyle
        run: mvn checkstyle:check

  build-test:
    needs: lint
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        ports:
          - 3306:3306
        env:
          MYSQL_DATABASE: opendota_db
          MYSQL_ROOT_PASSWORD: ${{ secrets.DB_PASSWORD }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Wait for MySQL
        env:
          MYSQL_PWD: ${{ secrets.DB_PASSWORD }}
        run: |
          sudo apt-get install -y mysql-client
          until mysql -h 127.0.0.1 -u root opendota_db; do
            echo "Waiting for MySQL..."
            sleep 5
          done

      - name: Run tests
        env:
          DB_URL: jdbc:mysql://localhost:3306/opendota_db
          DB_USER: root
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: mvn clean test package

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: app-jar
          path: target/*.jar

  release:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build-test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-jar

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: "*.jar"
